{% extends  'Sandbox/Layouts/layout4.html.twig' %}

{% block title %}{{ parent() }} : form{% endblock %}

{% block titre_principal %}Vue "profil_result" : exercices formulaires{% endblock %}

{% block vue %}
    <h2>donnée</h2>

    <ul>
        <li>pseudo : {{ pseudo is null ? '(vide)' : pseudo }}</li>
        <li>refus ? : {{ refus ? 'oui' : 'non' }}</li>
    </ul>
{% endblock %}
